body, html {
	padding: 0;
	margin: 0;
	height: 100%;
}

body {
	background-color: #ccc;
	color: #333;
	font: 14px/1.6 "Lucida Grande", Lucida, Verdana, sans-serif;
}

#PageDiv {
	position: relative;
	background-color: #fff;
	width: 60%;
	padding: 20px 40px;
	margin: 40px auto;
}